<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="stepDefinitions.commonSteps"/>
      <class name="applicationHook.AppHooks"/>
      <class name="com.qa.utils.CommonStepsAction"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
